  <div class="top-bar">
    <div class="top-bar-left">
      <span><i class="fa-solid fa-envelope"></i>dipak.zagade8@gmail.com</span>
      <span><i class="fa-solid fa-phone"></i>+91 962 364 0101</span>
    </div>
    <div class="top-bar-right">
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>
